*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.main-content{
    height: 100vh;
    width: 100vw;
}


/* Background Image */
#background-img{
    object-fit: cover; height: 100%; width: 100%;
}

/* Login form */
#Reset-Form-Container{
    background-color: #D8EFF8;
}

#company-logo{
    height: 100px;
}

#company-name{
    color: rgb(0, 99, 156);
}

#input-form-container{
    width: 85%;
    background-color: transparent;
}

#SubmitBtn{
    background-color: #0066A7;
}

.error-msg{
    color: red;
    font-size: 12px;
    padding-left: 3px;
}

#matched-status{
    color: green;
    font-size: 12px;
    padding-left: 3px;
}

