@model DAL.ViewModel.MenuViewModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Menu";
    ViewBag.Active = "Menu";
}
<head>
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"> *@
</head>


<div class="menu-item-container">



    <!-- Menu Display -->
    <div class="row px-0 d-flex justify-content-between mb-3">
        <div class="col-sm-1 d-flex fs-2 fw-bold special-color">Menu</div>
    </div>

    <!-- Menu Item List and Modifiers -->
    <div class="row border rounded menu-list-tab bg-white">
        <div class="d-flex nav" id="nav-tab" role="tablist" >
            <button class="nav-link tab-btn active d-flex align-items-center" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                <img src="~/images/list-check.svg" alt="">
                <div>Items</div>
            </button>
            <button class="nav-link tab-btn d-flex align-items-center" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                <img src="~/images/sidebar icons/dashboard.png" alt="" style="height: 17px;">
                <div>Modifiers</div>
            </button>
        </div>
    </div>

    <div class="row menu-list-table bg-white">
        <div class="tab-content" id="nav-tabContent">

            <!-- items content  -->
            <div class="tab-pane fade show active " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <partial name="~/Views/Menu/_MenuListItems.cshtml"/>
            </div>

            <!-- modifiers content  -->
            <div class="tab-pane fade border" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                Tab 2
            </div>

        </div>
    </div>


    <!-- add category modal  -->
    <div class="modal fade" id="addCategoryModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- </div> -->
                <form class="modal-body" asp-action="MenuListCategoryAdd" method="post">
                    <div class="d-flex justify-content-between mb-5">
                        <h1 class="modal-title fs-5 fw-semibold" id="exampleModalLabel">Add Category</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="form-group mb-3">
                        <input type="text" class="form-control py-2" id="categoryName" placeholder="Name*" asp-for="categoryAdd.Categoryname">
                    </div>

                    <div class="form-group mb-5">
                        <textarea class="form-control py-2" id="categoryDescription" rows="2" placeholder="Description" asp-for="categoryAdd.Description"></textarea>
                    </div>
                    

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="save-cancel-btn fw-semibold" id="save-btn">Save</button>
                        <button type="button" class="save-cancel-btn fw-semibold" id="cancel-btn" data-bs-dismiss="modal">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- Edit Category Modal -->
    <div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- </div> -->
                <form class="modal-body" asp-action="MenuListCategoryEdit" method="post">
                    <div class="d-flex justify-content-between mb-5">
                        <h1 class="modal-title fs-5 fw-semibold" id="exampleModalLabel">Edit Category</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <input type="text" asp-for="categoryAdd.Categoryid" id="inputcategoryId" hidden>

                    <div class="form-group mb-3">
                        <input type="text" class="form-control py-2" id="inputcategoryName" placeholder="Name*" asp-for="categoryAdd.Categoryname">
                    </div>

                    <div class="form-group mb-5">
                        <textarea class="form-control py-2" id="inputcategoryDescription" rows="2" placeholder="Description" asp-for="categoryAdd.Description"></textarea>
                    </div>
                    

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="save-cancel-btn fw-semibold" id="save-btn">Save</button>
                        <button type="button" class="save-cancel-btn fw-semibold" id="cancel-btn" data-bs-dismiss="modal">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- Delete Category Modal -->
    <div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- </div> -->
                <form class="modal-body" asp-action="MenuListCategoryDelete" method="post">
                    <div class="d-flex justify-content-between mb-3">
                        <h1 class="modal-title fs-5 fw-semibold special-color" id="exampleModalLabel">Delete Confirmation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <input type="text" asp-for="categoryAdd.Categoryid" id="deletecategoryId" hidden>

                    <div class="d-flex align-items-center flex-column justify-content-center mb-4">
                        <img src="~/images/warning.png" alt="" style="height: 35px; width: 35px;">
                        <div class="f-5">Are You Sure you want to delete Category ?</div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="save-cancel-btn fw-semibold" id="save-btn">Yes</button>
                        <button type="button" class="save-cancel-btn fw-semibold" id="cancel-btn" data-bs-dismiss="modal">No</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function editCategory(element)
    {
        var catId = element.getAttribute('data-id');
        var catName = element.getAttribute('data-name');
        var catDesc = element.getAttribute('data-desc');

        document.getElementById("inputcategoryId").value = catId;
        document.getElementById("inputcategoryName").value = catName;
        document.getElementById("inputcategoryDescription").value = catDesc;

    }

    function deleteCategory(element)
    {
        var catId = element.getAttribute('data-id');
        document.getElementById("deletecategoryId").value = catId;
    }


</script>

<script src="~/js/MenuList.js"></script>
@* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-FxfkB8Sb6D8ugghYzX5frzG3VfV7bDZn6zShuyFqVOTC8N5pFwQ4B8lYrsLQb7Bx" crossorigin="anonymous"></script> *@

