@{
    Layout = null;
    ViewData["Title"] = "Forgot Password Page";
}

@model DAL.ViewModel.ForgotPasswordEmail;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/forgotPassword.css" asp-append-version="true" />


    <title>Pizza Shop</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row main-content">
            
            <!-- dominoz main Picture -->
            <div class="col-md-3 col-lg-4 col-xl-5 bg-img-container p-0 d-none d-md-flex">
                <img src="~/images/dominos_background.jpg" id="background-img">
            </div>

            <!-- Forgot Form -->
            <div class="col-12 col-md-9 col-lg-8 col-xl-7 d-flex flex-column justify-content-center align-items-center" id="Forgot-Form-Container">

                @****************************** Title Name  *****************************@
                <div class="d-flex flex-row justify-content-center align-items-center mb-5">
                    <img src="~/images/logos/pizzashop_logo.png" alt="company-logo" id="company-logo">
                    <div class="fs-1 ps-4" id="company-name">PIZZASHOP</div>
                </div>
                

                <div class="d-flex flex-column container-fluid" id="input-form-container" style="max-width: 700px;">
                    <div class="row fs-3 ps-3 fw-semibold mb-3">
                        Forgot Password
                    </div>

                    <div style="opacity: 0.7; font-size: 12px;" class="mb-2 ms-1">Enter you email and we'll send you a link to reset your password</div>

                @****************************** Forgot Password Edit  *****************************@
                    <div class="row">
                        <form id="Forgot-Form" method="post">
                            <div class="mb-3">
                                <input type="email" class="form-control" id="ForgotEmail" aria-describedby="emailHelp" placeholder="Email*" value="@ViewData["Email"]" asp-for="Email">
                                <div id="email-error-msg" class="error-msg"></div>
                            </div>
                            <button type="submit" class="btn btn-primary w-100" id="SendBtn">Send</button>
                        </form>

                        @if(ViewData["Message"] != null){
                            if(ViewData["Message"].ToString().Contains("does not exist")){
                                <div class="alert alert-danger w-75" style="margin-left: 12px; margin-top: 10px;">
                                    @ViewData["Message"]
                                </div>
                            }
                            else{
                                <div class="alert alert-success w-75" style="margin-left: 12px; margin-top: 10px;">
                                    @ViewData["Message"]
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="row mt-1"><a asp-controller="Home" asp-action="Login" style="text-decoration: none; color: #0066A7; font-size: 15px;">Back to Login</a></div>

            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/forgotPassword.js" asp-append-version="true"></script>

</body>
</html>